*{
  margin:0px;
  padding:0px;
}
body{
background-color: grey;
height:100vh;
}
/* Upper Section */
#upper {
  background-color:black;
  background-size: cover;
  height: 100%;
  width: auto;
}


/* Navigatoin Bar */

.navbar {
  width: 100%;
  padding: 0 0 4.5rem;
}

.navigation {
  position: fixed;
  top:0;
}

.navbar-brand{
  font-size: 2.5rem;
  font-weight: 600;
}

.nav-link {
  padding: 100px;
}

.nav-item {
	padding: 0 18px;
}

/* Title text */

.title-text{
  text-align: center;
  padding-top: 5%;
  color: white;
  position: relative;
  top:90px;
}

.title-img {
  position: relative;
  padding-top: 5%;
  transform: rotate(45 deegre);
  top:90px;
  
}

.desc {
  font-size: 32px;;
}

.heading {
  font-weight: 900;
  font-size: 72px;
}

/* Middle Section */

#middle {
  background-color: white;
  position: relative;
  top: 20%;
  bottom:20%;
  color: black;
}

.left{
background-color: white;
position: relative;
left: 20px;
padding-top: 10px;
padding-left:25px; 
}

/* .mid{
color:black;
background-color: #bbd5f0;
} */



.footer {
text-align: center;
background-color: black;
color: white;
position: relative;
float: bottom;

}

/* .upperimage{
background-image: url("openshops.jpg");

} */

#onimage{
font-size: 36px;
color: white;
text-align: center;
}

#icon{
height: 2.5cm;
width: 2.5cm;
}

#intropara{
font-size: 26px;
}
