body{
background-color: grey;
}

#heading{
text-align: left;
font-size: 90px;
font
}

.navigation{
background-color: black;
text-align: left;
color:white;
}

.col1{
padding-left: 30px;
padding-top: 10px;
}

.col2{
word-spacing: 2cm;
padding-top: 20px;
}

.left{
background-color: white;
padding-top: 10px;
padding-left:25px; 
}

.mid{
color:black;
background-color: #bbd5f0;
}

a:hover {
text-transform: uppercase;
text-decoration: none;
}

footer {
text-align: center;
background-color: black;
color: white;
position: relative;
float: bottom;

}

.upperimage{
background-image: url("openshops.jpg");

}

#onimage{
font-size: 36px;
color: white;
text-align: center;
}

#icon{
height: 2.5cm;
width: 2.5cm;
}

#intropara{
font-size: 26px;
}
