
*{
	margin:0px;
	padding:0px;
}
body{
	background-image: url("medicinebg.jpg");
	background-size: cover;
	height: 100vh;
	background-position: bottom;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#heading{
	padding-top: 20px;
	font-size: 72px;
	text-align: center;
}
.col{
	text-align: center;
}

